@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}

@media (max-width: 600px) {
    html {
        font-size: 55%;
    }

}

/* @layer components {
    .nav-items {
        @apply text-2xl font-semibold text-slate-900 py-2 px-5 rounded-[1.2rem] hover: bg-slate-200 bg-transparent hover:bg-opacity-40 duration-500;
    }
} */

@layer components {
    .car-img {
        @apply w-full object-cover;
    }

    .car-img-y {
        @apply w-full object-cover;
    }

    .car-section {
        @apply w-full h-screen relative snap-always snap-start pt-[5%];
    }

    .car-section-y {
        @apply w-full h-screen relative snap-always snap-start pt-[19%];
    }

    .car-section-x {
        @apply w-full h-screen relative snap-always snap-start pt-[32%];
    }

    .car-details {
        @apply absolute top-[25%] left-[50%] translate-x-[-50%] translate-y-[-50%] text-center;
    }

    .car-details-y {
        @apply absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] text-center;
    }

    .car-details-x {
        @apply absolute top-[80%] left-[50%] translate-x-[-50%] translate-y-[-50%] text-center;
    }

    .car-name {
        @apply text-[4rem] text-slate-700 font-semibold;
    }


    .car-tag {
        @apply text-2xl text-slate-900;
    }
    
    .car-buttons {
        @apply absolute bottom-[-30%] left-[50%] translate-x-[-50%] translate-y-[-50%] flex flex-col md:flex-row;
    }

    .car-buttons-y {
        @apply absolute bottom-[-62%] left-[50%] translate-x-[-50%] translate-y-[-50%] flex flex-col md:flex-row;
    }

    .car-buttons-x {
        @apply absolute bottom-[-95%] left-[50%] translate-x-[-50%] translate-y-[-50%] flex flex-col md:flex-row;
    }

    .btn {
        @apply text-xl text-white bg-gray-700 my-2 font-medium uppercase inline-block w-[25rem] h-16 rounded-[10rem] px-10 pt-4 text-center mx-2 ;
    }


    .enventory {
        @apply bg-slate-200 text-gray-900;
    }

    .down-arrow {
        @apply absolute bottom-[-40%] left-[50%] translate-x-[-50%] translate-y-[-50%];
    }

    .down-arrow-y {
        @apply absolute bottom-[-72%] left-[50%] translate-x-[-50%] translate-y-[-50%];
    }

    .down-arrow-x {
        @apply absolute bottom-[-105%] left-[50%] translate-x-[-50%] translate-y-[-50%];
    }

    .snap-feature {
        @apply snap-y snap-mandatory h-screen transition-all duration-500 scroll-smooth;
    }

}